In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns 

MCQ=pd.read_csv('data.csv')
MCQ.head(10)

,Student_ID,Round,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,Q12,Q13,Q14,Q15,O_Cor,I_Cor,P_Co,T_Cor,Top_Cat,Low_Cat
0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,5.0,4.0,3.0,12.0,1.0,2.0
1,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,5.0,2.0,4.0,11.0,1.0,3.0
2,3.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,5.0,2.0,4.0,11.0,1.0,3.0
3,4.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,3.0,1.0,4.0,8.0,2.0,3.0
4,5.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,3.0,1.0,2.0,6.0,1.0,3.0
5,6.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,2.0,1.0,5.0,8.0,2.0,3.0
6,7.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,3.0,1.0,0.0,4.0,1.0,2.0
7,8.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,0.0,4.0,1.0,5.0,10.0,2.0,3.0
8,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,2.0,3.0,2.0,1.0
9,1.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,4.0,2.0,3.0,9.0,1.0,3.0

In [11]:
#checking for missing values
MCQ.isnull().sum()

Student_ID    2
Round         2
Q1            2
Q2            2
Q3            2
Q4            2
Q5            2
Q6            2
Q7            2
Q8            2
Q9            2
Q10           2
Q11           2
Q12           2
Q13           2
Q14           2
Q15           2
O_Cor         2
I_Cor         2
P_Co          2
T_Cor         2
Top_Cat       2
Low_Cat       2
dtype: int64

In [7]:
# Getting rows with at least one null value
rows_with_null_values = MCQ[MCQ.isnull().any(axis=1)]

# Displaying the rows with null values
print("Rows with null values:")
print(rows_with_null_values)

Rows with null values:
     Student_ID  Round  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  ...  Q12  Q13  Q14  \
100         NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN  NaN  NaN
101         NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN  NaN  NaN

     Q15  O_Cor  I_Cor  P_Co  T_Cor  Top_Cat  Low_Cat
100  NaN    NaN    NaN   NaN    NaN      NaN      NaN
101  NaN    NaN    NaN   NaN    NaN      NaN      NaN

[2 rows x 23 columns]

In [12]:
#drop the null rows
MCQ_cleaned = MCQ.dropna()
MCQ.dropna(inplace=True)

In [13]:
print("Cleaned DataFrame:")
print(MCQ_cleaned.head())

Cleaned DataFrame:
   Student_ID  Round   Q1   Q2   Q3   Q4   Q5   Q6   Q7   Q8  ...  Q12  Q13  \
0         1.0    1.0  1.0  0.0  1.0  1.0  1.0  0.0  1.0  0.0  ...  1.0  1.0
1         2.0    1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  ...  0.0  1.0
2         3.0    1.0  1.0  1.0  0.0  1.0  1.0  0.0  1.0  0.0  ...  1.0  1.0
3         4.0    1.0  1.0  1.0  0.0  1.0  1.0  0.0  0.0  0.0  ...  0.0  0.0
4         5.0    1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  ...  1.0  0.0

   Q14  Q15  O_Cor  I_Cor  P_Co  T_Cor  Top_Cat  Low_Cat
0  1.0  1.0    5.0    4.0   3.0   12.0      1.0      2.0
1  0.0  0.0    5.0    2.0   4.0   11.0      1.0      3.0
2  1.0  1.0    5.0    2.0   4.0   11.0      1.0      3.0
3  1.0  1.0    3.0    1.0   4.0    8.0      2.0      3.0
4  0.0  0.0    3.0    1.0   2.0    6.0      1.0      3.0

[5 rows x 23 columns]

In [14]:
#checking for missing values
MCQ.isnull().sum()

Student_ID    0
Round         0
Q1            0
Q2            0
Q3            0
Q4            0
Q5            0
Q6            0
Q7            0
Q8            0
Q9            0
Q10           0
Q11           0
Q12           0
Q13           0
Q14           0
Q15           0
O_Cor         0
I_Cor         0
P_Co          0
T_Cor         0
Top_Cat       0
Low_Cat       0
dtype: int64

In [15]:
#drop the unnecessary variables
MCQ.drop(['Student_ID','Round'],axis=1,inplace=True)

In [16]:
MCQ.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q12,Q13,Q14,Q15,O_Cor,I_Cor,P_Co,T_Cor,Top_Cat,Low_Cat
0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,5.0,4.0,3.0,12.0,1.0,2.0
1,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,5.0,2.0,4.0,11.0,1.0,3.0
2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,5.0,2.0,4.0,11.0,1.0,3.0
3,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,3.0,1.0,4.0,8.0,2.0,3.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,3.0,1.0,2.0,6.0,1.0,3.0

In [18]:
#save the cleaned data in a new file
MCQ.to_csv('data_cleaned.csv',index=False)